/* ###########################
 * ### General information ###
 * ###########################
 * Everything is found in chronological order according to site view in this CSS file.
 * 
 */

/**********
 * General *
 **********/

.site_text_format .text_contact {
    color: linen;
    font-family: Helvetica, sans-serif, Arial;
}

/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(233, 75, 75);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown .icon:after {
    width: 15px;
    height: 15px;
    content: '∧';
    display: inline-block;
}

.dropdown.show .icon:after {
    width: 15px;
    height: 15px;
    content: '∨';
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show .dropdown-content {
    display: block; 
}*/

/*******************************************************************************************************/

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background: #003262;
}

#navbar {
    float: left;
    width: 100%;
    padding-top: 10%;
    text-align: center;
}

/* .clearfix:after {
    clear: both;
    display: block;
    content: "";
} */

#navbar>ul {
    display: inline-block;
    border: 26/16em solid rgb(2, 39, 66);
    padding: 28/16em;
    line-height: 3em;
    background: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

#navbar>ul>li {
    display: inline;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #1E76B5;
    }
    
#navbar>ul>li:first-child {
    display: inline;
    border: 26/16em solid rgb(2, 39, 66);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    padding: 28/16em;
    line-height: 3em;
    background: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

#navbar>ul>li:last-child {
    display: inline;
    border: 26/16em solid rgb(2, 39, 66);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 28/16em;
    line-height: 3em;
    background: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

#navbar>ul li a {
    color: linen;
    font-family: Helvetica, sans-serif, Arial;
}

#navbar>ul>li>ul {
    display: none;
}

#navbar>ul>li:hover {
    background-color: rgb(233, 75, 75) ; /*rgb(233, 75, 75)  #0E5889  14b9ef*/
}

.dropdown {
    overflow: hidden;
}

.dropdown .icon:after {
    width: 15px;
    height: 15px;
    content: '∧';
    color: linen;
    /* display: inline-block; */
}

.dropdown.show .icon:after {
    width: 15px;
    height: 15px;
    content: '∨';
    color: linen;
    /* display: inline-block; */
}

/**********
 * Economy *
 **********/

/**********
 * Health *
 **********/

/**********
 * Donation *
 **********/

div.davidInit {
    color: #ff9999;
    width: 46em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#h1David {
    color: aquamarine;
    font-size: 2em;
}

#imgDavid {
    height: auto;
    width: 60%;
    padding-bottom: 1%;
}

#imgBitcoin {
    height: 1em;
    width: 1em;
    vertical-align: text-top;
}

.bitadd {
    color: yellow;
}

.davidEnd {
    margin: 20;
}

/**********
 * About *
 **********/

/**********
 * Contact *
 **********/

.h1_contact {
    color: linen;
    font-family: Helvetica, sans-serif, Arial;
    margin-left: 3%;
    margin-top: 3%;
}

.text_contact {
    /* color: linen;
    font-family: Helvetica, sans-serif, Arial; */
    font-size: 16px;
    margin-left: 3%;
    margin-top: 0.5%;
}

.contactfield_contact {
    position: absolute;
    width: 0;
    margin-left: 10%;
    margin-top: 10%;
}

fieldset#id_fieldsetcontact {
    padding: 10px;
    width: 9.375em;
    color: linen;
}

.h2_contact {}