.body{
    background-color: black;
}




.contactField{
    width: 450px;
}



.econSec:hover {
    
}


/* Donation.html */
div.davidInit {
    color: #ff9999;
    width: 46em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1.h1David{
    color: aquamarine;
}

#imgDavid{
    height: auto;
    width:60%;
}

#imgBitcoin{
    /* position: relative; */
    height:1em;
    width:1em;
    vertical-align:text-top;
    /* flex-shrink: 10; */
}